h3.groupHeader(ng-style="{'border-color':group.color}"){{group.name}}
.item(ng-repeat="item in group.counts")
	.name {{item.name}}
	.number(ng-style="{color: group.color}" count-to="{{item.count}}" format="comma" duration="1")
