doctype html
html(lang='en', ng-app='docent')
  head
    title 
    link(rel='shortcut icon', href='css/images/?.ico', type='image/x-icon')
    //style
    link(rel='stylesheet', href='libraries/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='libraries/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='Barista/barista.main.min.css')     
    // libraries 
    script(src='libraries/jquery/dist/jquery.min.js')
    script(src='libraries/string/lib/string.min.js')
    script(src='libraries/underscore/underscore-min.js')
    script(src='libraries/angular/angular.js')
    script(src='libraries/packery/dist/packery.pkgd.min.js')
    // barista dependancy 
    script(src='Barista/barista.main.min.js')

    // scripts
    script(src='scripts/services.js')
    script(src='scripts/app.js')
    script(src='scripts/controllers.js')   
  body(ng-controller='main')
    //- //test div
    //- div(style='margin-bottom:2em') set the count of the first item:
    //-   input(ng-model="groups[0].counts[0].count")
    //-   button.btn(ng-click="switchData()") change $scope.groups
    //-   button.btn(ng-click="updateData()") change individual count
    //-   button.btn(ng-click="removeItem()") remove a count
    .top-bar
      .title Docent
      div
        button.btn-modern.btn-selected Center View
        button.btn-modern.btn-right Assay View
    div(id="container")
      div(ng-repeat="group in groups" class="group" ng-include="'count.html'" packery)
