/**************
 * Base fonts *
 **************/
 body{
    text-align:center;
 }


.top-bar{
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 999;
  padding-bottom: 10px;
  background-color: rgba(255,255,255,0.9);
  border-bottom-style: dotted;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

 .title{
  font-size: 3em;
  /* font-weight: bold; */
  text-align: left;
  margin-left: 8%;
  font-family: 'Open Sans';
 }

 .sub-title{
  font-size:0.3em;
  font-style: italic;
  vertical-align: 85%;
 }

 .btn-modern{
  background-color: transparent;
  border-style: solid;
  border-radius: 0;
  border-width: 1.5px;
  border-color: black;
  padding:2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
 }

 button:hover{
  /*background-image:url("img/rainbow.png");
  background-size:200px;
  background-position: center;*/
  background-color: rgba(0,0,0,0.7);
  border-color:white;
  color:white;
 }

 .btn-selected{
  background-color: rgba(0,0,0,0.7);
  border-color:white;
  color:white;
 }

 .btn-right{
  margin-left: 1em;
 }

#container{
  text-align:left;
  left:7%;
  top:100px;
}

.groupHeader {
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 10px;
  padding-bottom: 5px;

  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 2.12706rem;

}

.group{
  width:20%;
  margin:auto;
  /*display:inline-block;*/
  /*vertical-align:top*/
}

