/**************
 * Base fonts *
 **************/
 body{
    text-align:center;
 }


.top-bar{
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 999;
  padding-bottom: 18px;
  background-color: rgba(255,255,255,0.9);
  border-bottom-style: dotted;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

 .title{
  font-size: 3em;
  /* font-weight: bold; */
  text-align: left;
  margin-left: 8%;
  font-family: 'Open Sans';
 }

 .sub-title{
  font-size:0.3em;
  font-style: italic;
  vertical-align: 85%;
 }

/*button style*/
 a.btn-modern{
  background-color: transparent;
  border-style: solid;
  border-radius: 0;
  border-width: 1.5px;
  border-color: black;

  color:black;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
 }


 a.btn-selected{
  text-decoration: none !important;
  color:white !important;
  background-color: rgba(0,0,0,0.7);
  border-color:white;
  padding-top: 8px;
  padding-bottom: 8px;
 }


 a:hover, a:focus{
  text-decoration: none !important;
  color:white !important;
  background-color: rgba(0,0,0,0.7);
  border-color:white;
 }

 .btn-right{
  margin-left: 2%;
 }

.container{
  text-align:left;
  top:100px;
}

.wrapper{
  padding-left:7%;
}

.groupHeader {
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 10px;
  padding-bottom: 5px;

  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 2.12706rem;

}

.group{
  width:20%;
  margin:auto;
  /*display:inline-block;*/
  /*vertical-align:top*/
}

/*Start ng-animation on ng-repeat group class*/
.wrapper.ng-enter, .wrapper.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.wrapper.ng-enter.ng-enter-active,
.wrapper.ng-move.ng-move-active {
  opacity:1;
}

.wrapper.ng-leave {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.2s linear all;
  opacity:1;
}

.wrapper.ng-leave.ng-leave-active{
  opacity:0;
}
